*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0px 18px;
}

.blog{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.nav{
    padding: 5px;
    margin-bottom: 10px;
}

.nav > ul {
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
    justify-content: center;
    list-style: none;
}

.nav > ul > li > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 1s linear;
}

.nav > ul > li > a:hover {
    background-color: rgb(41, 51, 62);
}

.form-control form{
    max-width: 470px;
    margin: 10px auto;
    border: 1px solid rgb(0, 0, 0,0.5);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgb(130, 127, 127);
}

.form-control form h3{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px 0px;
}

.form-control form label {
    display: block;
    color: rgb(171, 166, 166);
    font-size: 15px;
    letter-spacing: 1px;
}

.form-control form input{
    width: 100%;
    color: lightskyblue;
    background:none;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid lightskyblue;
    padding: 3px;
    
}

.form-control form input:focus{
    outline: none;
}

.form-control form .button{
    font-size: 15px;
    background-color: transparent;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s ease-in;
}

.form-control form button:hover{
    background-color: lightcyan;
}

.form-control form button:active{
    background-color: rgb(100, 100, 255);
    color: #fff;
}

.blogBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
